<div class="field">
    <label class="label is-size-5">
        {{ soruIndex }}. {{ soruBasligi }}
        @if (isImperative) {
        <span class="has-text-danger">*</span>
        }
    </label>
    <div class="control" style="width: 100%;">
        @for (soruSikki of soruSecenekleri; track soruSikki.id) {
        <label class="checkbox is-block mb-2 p-2" style="width: 100%;"
            [style.cursor]="isDisabled ? 'not-allowed' : 'pointer'">
            <input type="checkbox" [value]="soruSikki.id" [checked]="isChecked(soruSikki.id)"
                (change)="onChange($event, soruSikki.id)" [disabled]="isDisabled">
            {{ soruSikki.answer }}
        </label>
        }
    </div>
</div>