.table td {
  vertical-align: middle;
}

.charts-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.h-100 {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.h-100 .chart-container {
  flex-grow: 1;
}

@media screen and (max-width: 768px) {
  .charts-grid {
    grid-template-columns: 1fr;
  }
}